<!-- Bannière -->
<section class="banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
      <h1>Des recettes savoureuses du monde entier à portée de main</h1>
    </div>
  </section>
  
  <!-- Section principale -->
  <section class="main-section">
    <!-- Titre -->
    <h2>Nos recettes faciles et traditionnelles</h2>
    <!-- Texte descriptif -->
    <p>
      Chez nous, les enfants cuisinent aussi ! Que vous cherchiez une recette rapide ou un plat plus traditionnel, découvrez nos recettes accessibles à tous.
    </p>
    <!-- Sous-titre -->
    <h3>Nos recettes phares !</h3>
    <!-- Catégories -->
    <div class="categories">
      <!-- Entrées -->
      <div class="category-item">
        <img src="assets/image/img2.jpg" alt="Entrées">
        <p>Les entrées</p>
      </div>
      <!-- Plats -->
      <div class="category-item">
        <img src="assets/image/img3.jpg" alt="Plats">
        <p>Les plats</p>
      </div>
      <!-- Desserts -->
      <div class="category-item">
        <img src="assets/images/desrt.jpg" alt="Desserts">
        <p>Les desserts</p>
      </div>
    </div>
  </section>