<!-- Bannière -->
<section class="banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
      <h1>Des recettes savoureuses du monde entier à portée de main</h1>
    </div>
  </section>
  
  <!-- Section principale -->
  <section class="main-section">
    <!-- Titre -->
    <h2>Nos recettes faciles et traditionnelles</h2>
    <!-- Texte descriptif -->
    <p>
      Chez nous, les enfants cuisinent aussi ! Que vous cherchiez une recette rapide ou un plat plus traditionnel, découvrez nos recettes accessibles à tous.
    </p>
    
    <h3>Nos recettes phares !</h3>
    <div class="categories">
      <!-- Affichage pour chaque catégorie -->
      <div *ngFor="let category of categories">
        <h4>{{ category | titlecase }}</h4> <!-- Transforme la première lettre en majuscule -->
        <div class="category-item" *ngFor="let recipe of getRecipesByCategory(category)">
          <img [src]="recipe.image" [alt]="recipe.name">
          <p>{{ recipe.name }}</p>
        </div>
      </div>
    </div>
    
  </section>